*{
    margin: 0;
    padding: 0;
}
/* body{
font-family: 'Dancing Script', cursive;
font-family: 'Handlee', cursive;
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto Slab', serif;
} */
.menu-container{
    display: flex;
    background-color: #0FA3B1;
    align-items: center;
    justify-content:space-around;

}
.developer-img{
    height: 600px;
    
}

.logo{
    width: 120px;
    
}
.menus{
    display: flex;

}
.items{
    list-style: none;
    padding: 15px;
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    margin: auto;

}
.items:hover{
    background-color: gray;
    cursor: pointer;
}
.menus li{
    list-style: none;
}
.section1-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* background-color: #99DBF5; */
    background-image:url("img/header_bg.png");
    background-repeat: no-repeat;
    background-position: bottom right;
}
h5{
    font-size: 35px;
}
h1{
    font-size: 50px;
}
.company-about{
    font-size: 25px;
}
.cv{
    padding: 20px;
    text-decoration: none;
    background-color: rgb(219, 154, 33);
    color: white;
    border: none;
    /* margin-top: 35px; */
    font-size: 20px;
    transition: transform 1s;
    margin: 30px 4px;
    

    


}
.cv:hover{
    background-color: #b32745;
    transform: rotate(-360deg);

}
.contact-1{
    margin-left: 30px;
    width: 100px;
    background-color: white;
    border: 3px solid orange;
    color: orange;
    
    
}
.section-2{
    text-align: center;
    padding: 60px;
    height: 40vh;
    background-color:#B5E2FA;
}
.text-1{
    margin-top: 20px;
    line-height: 25px;
    font-size: 20px;
}
.info{
   
    display: flex;
    justify-content: center;
    color: black;

}
.item{
    padding: 90px;
    font-size: 20px;
    list-style: none;
}
span{
    font-size: 30px;
    padding: 18px;
    font-weight: bolder;
}
.section-3{
    /* background-color: #9AC5F4; */
    text-align: center;
    height: 80vh;
    /* background-image: url('img/blue-2.jpg') ; */
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}
.sec-3{
    font-size: 20px;
}
.doing{
padding: 30px;

}
.languages{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    margin-top: 60px;

}
.fonts{
    color: #EDDEA4;
    font-size: 55px;
}
.lan-1,.lan-2,.lan-3,.lan-4{
    height: 200px;
    width: 200px;
    line-height:1.5rem;
    
}
h2{
margin: 20px 0;
}
.resume-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.resume-container hr{
    margin: 10px 10px;
    border:1px solid rgb(138, 112, 82);
    opacity: 0.5;
}
.resume{
    height: 70vh;
    padding: 20px;
    background-color: bisque;

}
.edu{
    font-size: 35px;
    margin-bottom: 20px;
}
.edu-2,.edu-3{
    margin-bottom: 0.8rem;
}
.cv-2{
    margin-left: 50%;
}
.gallery-container{
    align-items: center;
    justify-content: center;
    gap: 30px;
    
}
.gallery-1{
    width: 300px;
    margin: 10px 10px;
}
.gallary-images{
    height: 100vh;
    background-color: #ffffff;
}
.gallery-1-2{
    width: 300px;
    margin: 10px 10px;
}
.gallery-1-3{
    width: 300px;
    margin: 10px 10px;
}
.gallery-1,.gallery-1-2,.gallery-1-3,.gallery-2,.gallery-23,.gallery-22{
    box-shadow: 5px 5px 10px rgb(80, 134, 80);
}
.gallery-photos1,.gallery-photos2 {
    display: flex;
    align-items: center;
    justify-content: center;
    

}
.gallery-2{
    height: 200px;
    width: 300px;
    margin: 10px 10px;
}
.gallery-22{
    height: 200px;
    width: 300px;
    margin: 10px 10px;
}
.gallery-23{
    height: 150px;
    width: 300px;
    margin: 10px 10px;
}
.footer-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 70vh;
    background-color: #df8e62;
    padding-top: 40px;
}
.fill-form input{
    display: block;
    padding: 30px;
    margin:30px;
}
.social-links{
    margin: 30px 30px;
}
input{
    border: 1px solid rgb(255, 19, 110);
    border-radius: 5px;
    width: 300px;
}
.btn-form{
    padding: 20px;
    background-color: orange;
    font-size: 20px;
    margin-left: 30px;
    margin-top: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}